body {
  font-family: "EB Garamond", serif;
}
ul {
  list-style: none;
}
img {
  size: 4px;
}
footer {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#temperature {
  font-size: 60px;
}
#background {
  background-size: 700px;
  opacity: 80%;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
#date {
  font-size: 25px;
  font-weight: 600;
}
#icon {
  size: 4px;
  font-size: 4px;
}
