ul {
  list-style: none;
}
#temperature {
  font-size: 60px;
}
#background {
  background-image: url("https://www.springfieldnewssun.com/resizer/R9f8qi_DOH_RF2Hz8Fy0PEXtnL0=/1066x600/cloudfront-us-east-1.images.arcpublishing.com/coxohio/L6BJ3DNILPCEN3WUJNS5NSTG2Q.jpg");
  background-size: 550px;
  height: 300px;
}
